* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	font-size: 18px;
}

#title {
	color: white;
	text-shadow: black 3px 5px 3px;
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
}

.app {
	background: white;
	height: 400px;
	width: 400px;
	margin: 15px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: black 1px 1px 15px;
	border-radius: 10px;
}

#emoji {
	font-size: 50px;
	margin-bottom: 10px;
	user-select: none;
}

#city {
	color: black;
	margin-bottom: 20px;
}

table {
	width: 350px;
	height: 150px;
	border-collapse: collapse;
	margin: 10px;
}

table,
tr,
td {
	border: black solid 1px;
}

td {
	color: black;
	width: 50%;
	text-align: center;
}

.scale-bar {
	height: 20px;
	width: 200px;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	margin: 10px 10px 0px 10px;
}

.levels {
	height: 100%;
}

#level0,
#level1,
#level2,
#level3 {
	width: 10%;
}

#level4 {
	width: 20%;
}

#level5 {
	width: 40%;
}

.pointer-container {
	display: grid;
	grid-template-columns: repeat(20, 10px);
	grid-template-rows: 1fr;
	grid-template-areas: "level1 . level2 . level3 . level4 . . . . . . . . level5 . . . .";
}

#pointer {
	height: 20px;
	width: 20px;
	transform: rotate(180deg);
}

@media screen and (max-width: 450px) {
	body {
		font-size: 16px;
	}
	.app {
		background: white;
		width: 350px;
	}
	table {
		width: 300px;
	}
}

@media screen and (max-width: 370px) {
	body {
		font-size: 14px;
	}
	.app {
		background: white;
		width: 300px;
	}
	table {
		width: 250px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 12px;
	}
	.app {
		background: white;
		width: 250px;
	}
	table {
		width: 200px;
	}
}
